/* css/confirmation-page.css */

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#confirmation-page>div>h1 {
    color: #333;
}

p {
    margin: 10px 0;
}