/* css/global.css */

:root {
    --bs-primary: #FF8C00 !important;
    /* Changing primary color to a dark orange */
    --bs-secondary: #6c757d !important;
    /* Custom secondary color */
    --bs-success: #28a745 !important;
    /* Custom success color */
    --bs-info: #17a2b8 !important;
    /* Custom info color */
    --bs-warning: #ffc107 !important;
    /* Custom warning color */
    --bs-danger: #dc3545 !important;
    /* Custom danger color */
    --bs-light: #f8f9fa !important;
    /* Custom light color */
    --bs-dark: #343a40 !important;
    /* Custom dark color */
}

/*///// GLOBAL STYLES /////*/
* {
    font-family: "Urbanist", "Monaco", sans-serif !important;
}

/*///// HEADER /////*/
nav {
    background-color: #FF8C00 !important;
}

/*///// NAVBAR LOGO /////*/
.nav-logo {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
}

.nav-logo:hover,
.nav-logo:focus,
.nav-logo.active {
    color: white;
}

.nav-logo:hover>img,
.nav-logo:focus>img,
.nav-logo.active>img {
    content: url(../assets//icons/reserved_white.png)
}

.nav-logo>img {
    margin-right: .75rem;
    width: 3.5rem;
    height: auto;
}

/*///// NAVBAR LINKS /////*/

.navbar {
    font-size: 1.15rem;
}

a.nav-link {
    cursor: pointer;
    margin: .75rem;
    line-height: 1.2;
}

.nav-link:hover,
a.nav-link.active {
    color: white !important;
    font-weight: inherit !important;
}

/*///// PAGE CONTAINER /////*/

main {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #F5F5F5; */
}

/*///// FOOTER /////*/

a.footer-icon>img {
    width: 2.4rem;
    margin-right: .5rem;
}

/*///// COMPONENT STYLES /////*/

.btn {
    background-color: #BBBDF6;
    /* Periwinkle */
    border-color: #BBBDF6;
    /* Periwinkle */
    color: black;
}

.btn:hover,
.btn:focus {
    background-color: darkorange;
    /* Periwinkle */
    border-color: darkorange;
    /* Periwinkle */
    color: white;
}

/*///// MEDIA QUERIES /////*/

/* For devices ≥576px */
@media (min-width: 576px) {
    .nav-logo {
        font-size: 1.5rem;
    }
}

/* For devices ≥768px */
@media (min-width: 768px) {
    /* insert styles */
}

/* For devices ≥992px */
@media (min-width: 992px) {
    /* insert styles */
}