/* css/signup-page.css */

signup-page {
    display: flex;
    justify-content: center;
}

.signup-wrapper {
	background: #605856;
	color: #fff;
    max-width: 350px;
}

.signup-wrapper .input-box {
	width: 100%;
	height: 2rem;
}

